
/list_of_commands.md
/list_of_commands_2.md
/list_of_commands copy.md
/11111111.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/venv
venv
venv/

__pycache__/


# Игнорируем все файлы и папки, начинающиеся с точки (кроме .git)
/.
/.gitignore




.idea
idea
.DS_Store
.env.dev
.venv
.env

certbot
celerybeat-schedule

*.egg-info/
.installed.cfg
*.egg

uploads/

dist
db.sqlite3
sqlite.db
venv

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*
!src/*/migrations/__init__.py
src/*/migrations/*
log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev

*.log
.log