
/.gitignore
/list_of_commands.md
/list_of_commands_2.md

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/venv
venv
venv/

__pycache__/


# Игнорируем все файлы и папки, начинающиеся с точки (кроме .git)
/.
/.gitignore