<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Stock Screener Pro</title>
        <link href={% static "homepage/css/styles.css" %} rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href={% static "homepage/assets/img/favicon.png" %} />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
            ym(99197622, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/99197622" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->        
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top">
                        <div class="container px-5">
                            <a class="navbar-brand text-white" href="{% url 'index' %}">Stock Screener Pro</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto me-lg-5">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact us</a></li>
                                </ul>
                                <a class="btn fw-500 ms-lg-4 btn-teal" href="{% url 'screener_daily_USA:screener' %}">
                                    Log in
                                    <i class="ms-2" data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </nav>
                    <!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
                        <div class="page-header-ui-content pt-10">
                            <div class="container px-5">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-xl-8 col-lg-10 text-center mb-4" data-aos="fade-up">
                                        <h1 class="page-header-ui-title">The Fastest Way to Find Winning Stocks</h1>
                                        <p class="page-header-ui-text mb-5">Advanced Stock Screener Designed for Success. Completely Free!</p>
                                        <a class="btn btn-teal fw-500 me-2" href="{% url 'screener_daily_USA:screener' %}">
                                            Get Started
                                            <i class="ms-2" data-feather="arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-light pb-10 pt-1">
                        <div class="container px-5">
                            <div class="device-laptop text-gray-200 mt-n10" data-aos="fade-up">
                                <svg class="device-container" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="83.911 298.53 426.962 243.838"><path d="M474.843 516.208V309.886c0-6.418-4.938-11.355-11.354-11.355H131.791c-6.417 0-11.354 4.938-11.354 11.355v206.816H83.911v13.326c4.938 7.896 31.098 12.34 40.969 12.34h345.024c10.366 0 36.526-4.936 40.969-12.34v-13.326h-36.03v-.494zM134.26 313.341h326.762v203.361H134.26V313.341z"></path></svg>
                                <img class="device-screenshot" src={% static "homepage/assets/img/demo/app-desktop-demo-screenshot.jpg" %} />
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                    <section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 text-center">
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="layers"></i></div>
                                    <h3>Built for Traders</h3>
                                    <p class="mb-0">Our intuitive and feature-rich platform is designed specifically for stock traders, offering tools that make analysis and decision-making seamless and efficient!</p>
                                </div>
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="smartphone"></i></div>
                                    <h3>Confidence in Analysis</h3>
                                    <p class="mb-0">With a responsive, user-friendly interface, our platform ensures seamless access to market analysis anytime, anywhere, empowering you to make informed decisions with confidence!</p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="code"></i></div>
                                    <h3>Comprehensive Features</h3>
                                    <p class="mb-0">Enjoy an extensive suite of functionalities tailored to your trading needs, backed by intuitive tools and features designed to simplify your workflow.</p>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center justify-content-center">
                                <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
                                    <div class="content-skewed content-skewed-right"><img class="content-skewed-item img-fluid shadow-lg rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-portfolio.png" alt="..." /></div>
                                </div>
                                <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
                                    <div class="mb-5">
                                        <h2>What’s Included?</h2>
                                        <p class="lead">Our Advanced Stock Screener provides powerful tools to help you analyze stocks deeply, from technical indicators to dividend evaluations and financial health metrics.</p>
                                    </div>
                                    <div class="row gx-5">
                                        <div class="col-md-6 mb-4">
                                            <h6>Technical Indicators & Volatility</h6>
                                            <p class="mb-2 small">Monitor <strong>ADR%</strong> to measure daily price fluctuations and market volatility, helping you assess risk and identify potential opportunities. Key indicators like <strong>SMA</strong> give you insights into trends and price changes over the week and month, so you stay informed and ahead of the market.</p>
                                            <a class="small text-arrow-icon" href="{% url 'screener_daily_USA:screener' %}">
                                                Learn More
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <h6>Comprehensive Financial Analysis</h6>
                                            <p class="mb-2 small mb-0">Get an in-depth financial profile for each stock, including essential ratios like <strong>P/E</strong>, <strong>P/B</strong>, <strong>PEG</strong>, and <strong>P/S</strong>. Evaluate a company’s profitability with metrics such as <strong>operating margin</strong>, <strong>net margin</strong>, and <strong>ROE</strong> to understand its financial health.</p>
                                            <a class="small text-arrow-icon" href="{% url 'screener_daily_USA:screener' %}">
                                                Learn More
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row gx-5">
                                        <div class="col-md-6 mb-4">
                                            <h6>Dividend Yield & Sustainability</h6>
                                            <p class="mb-2 small mb-0">For income-focused investors, the screener provides tools to analyze <strong>dividend yield</strong>, <strong>payout ratio</strong>, and <strong>dividend history</strong>, helping you choose companies with strong, consistent returns and growth potential.</p>
                                            <a class="small text-arrow-icon" href="{% url 'screener_daily_USA:screener' %}">
                                                Learn More
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <h6>Stock Heatmap</h6>
                                            <p class="small mb-0">The <strong>Stock Heatmap</strong> gives you a visual snapshot of the market, with color-coded price changes across sectors. It quickly shows high and low performers, integrating with technical indicators like <strong>ADR%</strong> and <strong>SMA</strong> to help you spot trends and market shifts at a glance!</p>
                                            <a class="small text-arrow-icon" href="{% url 'screener_daily_USA:screener' %}">
                                                Learn More
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                    <section class="bg-dark py-10">
                        <div class="container px-5" data-aos="fade-up">
                            <div class="row gx-5 my-10">
                                <div class="col-lg-6 mb-5">
                                    <div class="d-flex h-100">
                                        <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                                        <div class="ms-4">
                                            <h5 class="text-white">What is the Stock Screener?</h5>
                                            <p class="text-white-50">Analyze and track stocks based on performance, price, market cap, and other financial metrics. The screener is versatile and provides everything you need for your investment strategy.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5">
                                    <div class="d-flex h-100">
                                        <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                                        <div class="ms-4">
                                            <h5 class="text-white">What can I do with the Stock Screener?</h5>
                                            <p class="text-white-50">Analyze and track stocks based on performance, price, market cap, and other financial metrics. The screener is versatile and provides everything you need for your investment strategy.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5 mb-lg-0">
                                    <div class="d-flex h-100">
                                        <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                                        <div class="ms-4">
                                            <h5 class="text-white">How can the Stock Screener assist me?</h5>
                                            <p class="text-white-50">The screener lets you filter stocks based on your preferences, so you can target investments that align with your strategy.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex h-100">
                                        <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                                        <div class="ms-4">
                                            <h5 class="text-white">Is the Stock Screener suitable for beginners?</h5>
                                            <p class="text-white-50">Yes, the Stock Screener is designed to be user-friendly, making it accessible even for beginners.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5 justify-content-center text-center">
                                <div class="col-lg-8">
                                    <div class="badge bg-transparent-light rounded-pill badge-marketing mb-4">Get Started</div>
                                    <h2 class="text-white">Get Full Access to the Stock Screener Today!</h2>
                                    <p class="lead text-white-50 mb-5">Start tracking and analyzing stocks today with no cost involved. Save time, make informed decisions, and get full access to all features with the Stock Screener!</p>
                                    <a class="btn btn-teal fw-500" href="{% url 'screener_daily_USA:screener' %}">Get Started!</a>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                    <section class="bg-white pt-10">
                        <div class="container px-5">
                            <div class="row gx-5 mb-10">
                                <div class="col-lg-6 mb-5 mb-lg-0 divider-right" data-aos="fade">
                                    <div class="testimonial p-lg-5">
                                        <div class="mb-3 text-yellow">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p class="testimonial-quote text-primary">"It’s been a game changer for me! The Stock Screener lets me effortlessly find stocks that match my goals. It's saved me so much time and helped me make confident, data-driven investment decisions!"</p>
                                        <div class="testimonial-name">Michael Harris</div>
                                        <div class="testimonial-position">Business Analyst</div>
                                    </div>
                                </div>
                                <div class="col-lg-6" data-aos="fade" data-aos-delay="100">
                                    <div class="testimonial p-lg-5">
                                        <div class="mb-3 text-yellow">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p class="testimonial-quote text-primary">"Tracking stocks used to be a hassle, but the Stock Screener changed that! Its intuitive design lets me filter and analyze stocks quickly, saving time and boosting my confidence in my investments!"</p>
                                        <div class="testimonial-name">Sophia Carter</div>
                                        <div class="testimonial-position">Web Developer</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5">
                                <div class="col-lg-6 mb-lg-n10 mb-5 mb-lg-0 z-1">
                                    <a class="card text-decoration-none h-100 lift">
                                        <div class="card-body py-5">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-stack icon-stack-xl bg-primary text-white flex-shrink-0"><i data-feather="activity"></i></div>
                                                <div class="ms-4">
                                                    <h5 class="text-primary">Work smarter, not harder</h5>
                                                    <p class="card-text text-gray-600">Achieve more with less effort!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6 mb-lg-n10 z-1">
                                    <a class="card text-decoration-none h-100 lift">
                                        <div class="card-body py-5">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-stack icon-stack-xl bg-secondary text-white flex-shrink-0"><i data-feather="code"></i></div>
                                                <div class="ms-4">
                                                    <h5 class="text-secondary">Time is power, master it</h5>
                                                    <p class="card-text text-gray-600">Optimize your workflow, reach success!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                    <section class="bg-light py-10">
                        <div class="container px-5 mt-5">
                            <div class="row gx-5 align-items-center">
                                <div class="col-lg-6">
                                    <h4>Ready to get started?</h4>
                                    <p class="lead mb-5 mb-lg-0 text-gray-500">Start your journey.</p>
                                </div>
                                <div class="col-lg-6 text-lg-end">
                                    <a class="btn btn-white fw-500 my-2 shadow" href="{% url 'screener_daily_USA:screener' %}">Get Started!</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
            <div id="layoutDefault_footer">
                <footer class="footer pt-0 pb-5 mt-auto bg-light footer-light">
                    <div class="container px-5">
                        <hr class="my-5" />
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="mb-2 text-center">created by lazycat7777</div>
                            <div class="icon-list-social mb-0 justify-content-center">
                                <a class="icon-list-social-link" href="https://t.me/lazycat7777"><i class="fab fa-telegram"></i></a>
                                <a class="icon-list-social-link" href="https://www.reddit.com/user/lazycat7777/"><i class="fab fa-reddit"></i></a>
                                <a class="icon-list-social-link" href="https://github.com/lazycat7777"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src={% static "homepage/js/scripts.js" %} ></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true,
            });
        </script>
    </body>
</html>
