<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Contact - Stock Screener Pro</title>
        <link href={% static "homepage/css/styles.css" %} rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href={% static "homepage/assets/img/favicon.png" %} />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top">
                        <div class="container px-5">
                            <a class="navbar-brand text-white" href="{% url 'index' %}">Stock Screener Pro</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto me-lg-5">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact us</a></li>
                                </ul>
                                <a class="btn fw-500 ms-lg-4 btn-teal" href="{% url 'screener_daily_USA:screener' %}">
                                    Log in
                                    <i class="ms-2" data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </nav>
                    <!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
                        <div class="page-header-ui-content pt-10">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-ui-title mb-3">Contact us</h1>
                                        <p class="page-header-ui-text">For any inquiries or ideas, connect with us!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="row gx-5 mb-5">
                                <div class="col-lg-4 mb-5">
                                    <a class="card card-link border-bottom-0 border-start-0 border-end-0 border-top-lg border-primary lift text-center o-visible h-100" href="https://t.me/screener_stocks_bot">
                                        <div class="card-body">
                                            <div class="icon-stack icon-stack-xl bg-primary-soft text-primary mb-4 mt-n5 z-1 shadow"><i class="fab fa-telegram"></i></div>
                                            <h5>Telegram Channel</h5>
                                            <p class="card-text">Ideas, suggestions, improvements, and friendly chats!</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-primary fw-bold d-inline-flex align-items-center">
                                                Follow
                                                <i class="fas fa-arrow-right text-xs ms-1"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <a class="card card-link border-bottom-0 border-start-0 border-end-0 border-top-lg border-red lift text-center o-visible h-100" href="#!">
                                        <div class="card-body">
                                            <div class="icon-stack icon-stack-xl bg-red-soft text-red mb-4 mt-n5 z-1 shadow"><i class="fab fa-reddit"></i></div>
                                            <h5>Reddit</h5>
                                            <p class="card-text">Engage in discussions, share ideas, and stay updated with the latest features and improvements!</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-red fw-bold d-inline-flex align-items-center">
                                                Follow
                                                <i class="fas fa-arrow-right text-xs ms-1"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <a class="card card-link border-bottom-0 border-start-0 border-end-0 border-top-lg border-yellow lift text-center o-visible h-100" href="https://github.com/lazycat7777">
                                        <div class="card-body">
                                            <div class="icon-stack icon-stack-xl bg-yellow-soft text-yellow mb-4 mt-n5 z-1 shadow"><i class="fab fa-github"></i></div>
                                            <h5>Github</h5>
                                            <p class="card-text">Explore the source code, contribute to the project, and check out the latest updates and improvements!</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-yellow fw-bold d-inline-flex align-items-center">
                                                Follow
                                                <i class="fas fa-arrow-right text-xs ms-1"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <hr class="my-10" />
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8 text-center">
                                    <h1>From Creator</h1>
                                    <p class="lead">If you have any suggestions to improve the site or other feedback, I’d be happy to hear from you. My contact details are below:</p>
                                </div>
                                <div class="row gx-5 justify-content-center text-center">
                                    <div class="col-md-6 col-xl-4 mb-5">
                                        <div class="card card-team">
                                            <div class="card-body">
                                                <img class="card-team-img mb-3" src={% static "homepage/assets/img/illustrations/profiles/lazycat1.png" %} alt="..." />
                                                <div class="card-team-name">lazycat7777</div>
                                                <div class="card-team-position mb-3">Creator</div>
                                                <p class="small mb-0">Innovation is the heart of progress</p>
                                            </div>
                                            <div class="card-footer text-center">
                                                <a class="btn btn-icon btn-transparent-dark mx-1" href="https://t.me/lazycat7777"><i class="fab fa-telegram"></i></a>
                                                <a class="btn btn-icon btn-transparent-dark mx-1" href="#!"><i class="fab fa-reddit"></i></a>
                                                <a class="btn btn-icon btn-transparent-dark mx-1" href="https://github.com/lazycat7777"><i class="fab fa-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 text-center">
                                    <hr />
                                    <p>This project was created by a single individual. I am an economist, not a programmer, I learned Python, JavaScript, and other necessary tools from scratch to bring this site to life.</p>
                                    <p>I plan to keep improving the site, and this project is truly important to me. It’s a personal endeavor that combines my passion for both economics, investments, and technology. Every update and feature is a step toward building a resource that can help people make more informed decisions. Your feedback and support mean a lot, and I’m excited to continue this journey of growth and innovation.</p>
                                    <p class="mb-0">If you have any suggestions or ideas on how to make the site better, feel free to reach out! Your input is always welcome and highly appreciated.</p>
                                </div>
                                <div class="col-lg-8">
                                    <hr />
                                    <div class="text-center"><a class="btn btn-transparent-dark fw-500" href="{% url 'index' %}">Go Back</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                </main>
            </div>
            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                    <div class="container px-5">
                        <hr />
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="mb-2 text-center">created by lazycat7777</div>
                            <div class="icon-list-social mb-0 justify-content-center">
                                <a class="icon-list-social-link" href="https://t.me/lazycat7777"><i class="fab fa-telegram"></i></a>
                                <a class="icon-list-social-link" href="#!"><i class="fab fa-reddit"></i></a>
                                <a class="icon-list-social-link" href="https://github.com/lazycat7777"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src={% static "homepage/js/scripts.js" %}></script>
    </body>
</html>
